apiVersion: v1
kind: Secret
metadata:
  name: secrets
type: kubernetes.io/Opaque
stringData:
  SLACK_TOKEN: plaintext_token
  SLACK_DOMAIN: plaintext_domain
  SONAR_TOKEN: plaintext_token
  SONAR_JDBC_USERNAME: plaintext_username
  SONAR_JDBC_PASSWORD: plaintext_password
  POSTGRES_USER: plaintext_user
  POSTGRES_PASSWORD: plaintext_password
